{{> head }}

{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>About us</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem quisquam ut consequuntur distinctio consequatur dolor. Enim reiciendis ea illum laboriosam accusamus doloremque voluptatibus odio, cupiditate optio, error, beatae voluptas cum.</p>
    </div>
    <div class="col-4">
        <img src="assets/img/yo-baby.png" class="img-thumbnail">
    </div>
</div>

{{> footer }}